In [24]:
import pandas as pd

In [25]:
newdata = pd.read_csv('data/data.csv')
newdata = newdata[0:100000]
newdata['comment_body'] = newdata['comment_body'].str.replace('([“”¨«»®´·º½¾¿¡§£₤‘’\n\r>])', '')
newdata['length'] = [len(x) for x in newdata['comment_body']]
newdata = newdata.dropna()
ids = [i for i in range(len(newdata))]
ups = list(newdata["upvotes"])

In [26]:
newdata = newdata[newdata.length <= 512]

In [27]:
val = [0]*len(newdata)
for i in range(len(newdata)):
    x = ups[i]
    if x < 0:
        val[i] = "__label__poor"
    elif (x>=1 and x<=3):
        val[i] = "__label__normal"
    elif (x>=4 and x<=9):
        val[i] = "__label__good"
    elif (x>=10):
        val[i] = "__label__best"
newdata["label"] = val
cols = ["label", "comment_body"]
newdata = newdata[cols]
newdata
newdata.rename(columns={"comment_body":"text"}, inplace=True)
newdata.to_csv("flairdata/all-labeled.csv", index=False)

In [28]:
newdata = newdata[newdata.label != 0]

In [29]:
newdata = newdata.sample(frac=1).reset_index(drop=True)
splitby = int(0.8*len(newdata))
splitby1 = int(0.9*len(newdata))
train_data = newdata[:splitby]
test_data = newdata[splitby:splitby1]
val_data = newdata[splitby1:]
train_data = train_data.dropna()
test_data = test_data.dropna()
val_data = val_data.dropna()
len(train_data)

77433

In [30]:
train_data.to_csv("flairdata/train.csv", index=False)
test_data.to_csv("flairdata/test.csv", index=False)
val_data.to_csv("flairdata/val.csv", index=False)

In [31]:
train_data.head()

             label                                               text
0  __label__normal  Luke throwing the lightsaber over his shoulder...
1  __label__normal                                       amazing wow.
2    __label__best             You have made a good point actually...
3  __label__normal             I really like it and I dig this style!
4  __label__normal  Whoever laid and pointed these concrete slabs ...

In [32]:
old = pd.read_csv('data/data.csv')
old[7219:7225]["comment_body"].str.replace('([“”¨«»®´·º½¾¿¡§£₤‘’\n\r>])', '')

7219                             i thought it said grampa
7220    TChalla just threw out a Nair. On a serious no...
7221    This awesome. Makes me really miss the civil w...
7222                             Let me kick You daintily
7223    Beautifully realised, Marvel meets Hong Kong M...
7224          The pose is great and awesome work with it.
Name: comment_body, dtype: object

In [33]:
train_data[train_data.label == 0]

Empty DataFrame
Columns: [label, text]
Index: []